<!DOCTYPE html>
<html id="ng-app" ng-app="readerapp">
<head>
	<title>Reader</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers.js"></script>
	<script type="text/javascript" src="js/services.js"></script>
		<link rel="stylesheet" type="text/css" href="styles/main.css"/>
</head>
<body ng-controller="readerController">

	 <div class="leftmenu">
	 	<ul class="feedlist">
	 		<li ng-click="loadAll()">All</li>
	 		<li ng-click="loadToday()">Today</li>
	 		<li ng-click="loadFriends()">Friends</li>
	 		<li ng-click="loadLiked()">Liked</li>
	 		<li ng-click="loadShared()">Shared</li>
	 		<li ng-click="loadPopular()">Popular</li>
	 	</ul>
	 	<ul class="feedlist">
        	<li ng-repeat="UserFeed in UserFeeds" ng-click="loadFeed(UserFeed)">
          	<span >{{UserFeed.FeedName}}</span>
        	</li>
      	</ul>
    </div>
	<div class="content">
		<div class="header"><h1 class="FeedTitle">{{Title}}</h1></div>
		<div class="feedcontent">{{Content}}</div>
		<div > {{FeedData}}</div>
	</div>
</body>
</html>