html {
  height: 100%;
}

body{
	font-family: Verdana;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

.leftmenu{
		float: left;
	min-width: 200px;
	width: 20%;
	background-color: #ccc;
	height: 100%
}

.feedlist
{
	font-size: 0.7em;
	font-weight: bold;
	padding-top: 20px;
	list-style: none;
}

.feedlist li
{
	cursor:pointer;
	margin-bottom: 5px;
}

.content
{
	float: left;
	min-width: 800px;
	width: 80%;
	height: 100%;
}

.feedTitle
{

}

.header
{
	text-align: center;
}

.feedcontent
{
	padding: 10px;
}